$breakpoint-grid-sm: 576px;
$breakpoint-grid-md: 768px;
$breakpoint-grid-lg: 992px;
$breakpoint-grid-xl: 1200px;

$breakpoint-sm: 575px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1140px;

$whiteColor: #ffffff;
$naturalBlackColor: #000000;
$blackColor: #333333;
$primaryColor: #FDC430;

$defaultText: #434343;

