@import "../abstracts/mixins";
@import "../abstracts/variables";

.footer {
  background: $lightGreyColor;
  padding: 30px 10px 15px 10px;
  &-heading {
    margin-bottom: 20px;
  }
  &-list {
    & li {
      margin-bottom: 14px;
    }
    & a {
      font-size: 14px;
      line-height: 24px;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        background: $defaultText;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 1px;
        opacity: 0;
        @include transition(.3);
      }
      &:hover {
        &:before {
          opacity: 1;
        }
      }
    }
  }
  &-logo {
    margin-bottom: 70px;
    display: block;
  }
  &-description {
    max-width: 80%;
  }
  @media (max-width: $breakpoint-lg) {
    &-columns {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      & .footer-logo {
        margin-bottom: 15px;
      }
      &:first-child {
        text-align: center;
        margin-bottom: 30px;
      }
    }
  }
  @media (max-width: $breakpoint-md) {
    &-columns {
      text-align: center;
    }
  }

}

.copyright-by {
  & span {
    font-weight: 700;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      background: $defaultText;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 2px;
      @include transition(.3);
    }
  }
  &:hover {
    & span:before {
      width: 100%;
    }
  }
}

.socials {
  & a {
    & i {
      width: 36px;
      height: 36px;
      background: #333333;
      display: flex;
      align-items: center;
      justify-content: center;
      display: block;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 12px;
      border: 2px solid $defaultText;
      @include transition(.3);
      &:before {
        font-size: 20px;
        color: #fff;
        @include transition(.3);
      }
    }
    &:hover {
      & i {
        background: $whiteColor;
        &:before {
          color: $defaultText;
        }
      }
    }
  }
}