@import "../abstracts/mixins";
@import "../abstracts/variables";

.body-padding {
  padding-top: 77px;
}
.header {
  padding: 20px 6px;
  background: #FFFFFF;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.06);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  &-search {
    margin-right: 50px;
  }
}
.primary-menu {
  & .menu-item {
    padding: 0 32px;
  }
  & > .menu-item-has-children {
    & .sub-menu {
      display: none;
      // !!!!!
      position: absolute;
      height: 100%;
      width: 277px;
      top: 0;
      padding: 20px 0;
      height: auto;
    }
    & > .sub-menu {
      left: 50%;
      top: 50%;
      transform: translate(-50% , -50%);
      background: $lightGreyColor;
      & .menu-item {
        padding: 4px 20px 4px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & i {
          display: block;
          transform: rotate(270deg);
        }
      }
      & .sub-menu {
        right: -277px;
        background: #E7E7E7;
        & .sub-menu {
          background: #DDDDDD;
        }
      }
    }
  }
}


