@import "../abstracts/mixins";
@import "../abstracts/variables";

.body-padding {
  padding-top: 77px;
}
.header {
  background: #ffffff;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.06);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  &-search {
    margin-right: 42px;
    & i {
      font-size: 23px;
    }
  }
  &-cart {
    display: block;
    & span {
      font-weight: bold;
      font-size: 10px;
      display: block;
      line-height: 11px;
      position: relative;
      &:before {
        content: "\e902";
        font-family: 'icomoon';
        font-size: 23px;
        position: absolute;
        left: -8px;
        top: -4px;
      }
    }
  }
}

.menu {
  @media (max-width: $breakpoint-lg) {
    display: none;
  }
  & .menu-item {
    margin: 0 32px;
    & a {
      position: relative;
      display: inline-block;
      padding: 26px 0;
      cursor: pointer;
      &:before {
        content: "";
        position: absolute;
        height: 3px;
        width: 0;
        background: $defaultText;
        left: 0;
        bottom: -1px;
        @include transition(0.3);
        z-index: 101;
      }
      &:hover {
        &:before {
          width: 100%;
        }
      }
    }
  }
}

.menu-item-has-children {
  .sub-menu {
    position: fixed;
    top: 77px;
    left: 0;
    background: $whiteColor;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    // opacity: 1;
    // visibility: visible;
    opacity: 0;
    visibility: hidden;
    justify-content: space-between;
    padding: 24px 185px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.06);
    @include transition(0.3);
    &:before {
      content: "";
      position: absolute;
      top: -20px;
      left: 0;
      background: $whiteColor;
      width: 100%;
      height: 20px;
      box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.06);
      pointer-events: none;
    }
    & .sub-menu {
      width: 100%;
      max-width: 31%;
      position: static;
      box-shadow: unset;
      margin: 0 12px;
      padding: 0;
      flex-direction: column;
      justify-content: flex-start;
      &:before {
        display: none;
      }
      & .sub-menu {
        margin: 0;
      }
      & .menu-item {
        padding: 0 0 16px 0;
        margin: 0;
        font-size: 16px;
        line-height: 24px;
        position: relative;
        & a {
          padding: 0;
        }
        & a {
          &:before {
            height: 1px;
            bottom: -2px;
          }
        }
      }
      &:hover {
        & .menu-item {
          &:after {
            width: 100%;
          }
        }
      }
    }
  }
  &:hover {
    & .sub-menu {
      opacity: 1;
      visibility: visible;
    }
    & > a {
      &:before {
        width: 100%;
      }
    }
    & .sub-menu-container {
      opacity: 1;
      visibility: visible;
    }
  }
}

.menu {
  li {
    & .sub-menu {
      > a {
        padding: 0 0 16px 0;
        &:before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 8px;
          background: $midGreyColor;
          width: 100%;
          height: 2px;
          z-index: 1;
        }
        &:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 8px;
          background: #000;
          width: 0;
          height: 2px;
          z-index: 1;
          @include transition(0.3);
        }
      }
      &:hover {
        & > a {
          &:after {
            width: 100%;
          }
        }
      }
    }
  }
}

.secondary-header-menu-container {
  display: none;
}

