@import "../abstracts/mixins";
@import "../abstracts/variables";

.other-page {
  height: calc(100vh - 79px);
  & h1 {
    @include fontSize(24, 36);
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 16px;
  }
  &.error-page {
    & h1 {
      font-weight: 700;
      margin-bottom: 0;
      @include fontSize(50, 150);
    }
  }
  & p {
    font-size: 16px;
    line-height: 24px;
  }
  & a {
    margin-top: 16px;

  }
}