@import "../abstracts/mixins";
@import "../abstracts/variables";

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.--regular {
  font-weight: 400;
}

.--medium {
  font-weight: 500;
}

.--bold {
  font-weight: 700;
}

.--uppercase {
  text-transform: uppercase;
}

.heading-1 {
  @include fontSize(30, 56);
  line-height: 1.07;
}

.heading-2 {
  @include fontSize(24, 36);
  line-height: 1.33;
}

.heading-3 {
  @include fontSize(20, 24);
  line-height: 1.16;
}

.heading-4 {
  @include fontSize(16, 18);
  line-height: 1.33;
}

.heading-5 {
  @include fontSize(14, 16);
  line-height: 1.33;
}

.section-heading {
  font-weight: 900;
  @include fontSize(36, 56);
  line-height: 1;
}

.page-heading {
  font-weight: 900;
  margin: 64px 0 48px 0;
  position: relative;
  padding-left: 35px;
  &:before {
    content: '';
    width: 72px;
    height: 72px;
    position: absolute;
    left: 0;
    top: -30px;
    z-index: -2;
    pointer-events: none;
    background:
        linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
        linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
        $dot-color;
      background-size: $dot-space $dot-space;
  }
  &:after {
    content: '';
    width: 80%;
    height: 150%;
    left: 25px;
    top: 0px;
    position: absolute;
    background: #fff;
    z-index: -1;
    pointer-events: none;
  }
  // &:before {
  //   content: '';
  //   background: url('../../img/circles.png');
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   width: 72px;
  //   height: 72px;
  //   background-position: center;
  //   position: absolute;
  //   left: -30px;
  //   top: -30px;
  //   opacity: 0.5;
  // }
}

.section-carousel {
  & .section-heading {
    @media (max-width: $breakpoint-md) {
      width: 100%;
      justify-content: space-between;
      margin: 0 8px;
    }
  }
}



// .icon-icon-arrow-slider-2:before {
//   content: "\e901";
// }
// .icon-icon-arrow-slider-1:before {
//   content: "\e900";
// }
// .icon-icon-cart:before {
//   content: "\e902";
// }
// .icon-icon-facebook:before {
//   content: "\e903";
// }
// .icon-icon-instagram:before {
//   content: "\e904";
// }
// .icon-icon-search:before {
//   content: "\e905";
// }
// .icon-icon-send:before {
//   content: "\e906";
// }
// .icon-icon-tick:before {
//   content: "\e907";
// }

.icon-checkmark1:before {
  content: "\e908";
  color: #fff;
}
.icon-icon-arrow-slider-2:before {
  content: "\e901";
}
.icon-icon-arrow-slider-1:before {
  content: "\e900";
}
.icon-icon-cart:before {
  content: "\e902";
}
.icon-icon-facebook:before {
  content: "\e903";
}
.icon-icon-instagram:before {
  content: "\e904";
}
.icon-icon-search:before {
  content: "\e905";
}
.icon-icon-send:before {
  content: "\e906";
}
.icon-icon-tick:before {
  content: "\e907";
}

