@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?h7lkbl');
  src:  url('fonts/icomoon.eot?h7lkbl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?h7lkbl') format('truetype'),
    url('fonts/icomoon.woff?h7lkbl') format('woff'),
    url('fonts/icomoon.svg?h7lkbl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-arrow-slider-2:before {
  content: "\e901";
}
.icon-icon-arrow-slider-1:before {
  content: "\e900";
}
.icon-icon-cart:before {
  content: "\e902";
}
.icon-icon-facebook:before {
  content: "\e903";
}
.icon-icon-instagram:before {
  content: "\e904";
}
.icon-icon-search:before {
  content: "\e905";
}
.icon-icon-send:before {
  content: "\e906";
}
.icon-icon-tick:before {
  content: "\e907";
}
